
@using ClassLibrary1
@{
    Layout = null;
    List<order> order2 = ViewBag.List;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonalView</title>
</head>
<body>
    <div>
        <div>
            <h3>您的历史个人订单：</h3>
            <table>
                <thead>
                    <tr>
                        <td>订单号</td>
                        <td>生成时间</td>
                        <td>订单类型</td>
                        <td>具体要求</td>
                        <td>收件人ID</td>
                        <td>收件人电话</td>
                        <td>打赏</td>
                        <td>状态</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (order li2 in order2)
                    {
                    <tr>
                        <td>@li2.OrderNumber</td>
                        <td>@li2.Date</td>
                        <td>@li2.Type</td>
                        <td>@li2.Text</td>
                        <td>@li2.ClientID</td>
                        <td>@li2.ClientPhone</td>
                        <td>@li2.Tip</td>
                        <td>@li2.State</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <br />
    </div>
</body>
</html>
