@using ClassLibrary1

@{
    Layout = null;
    ViewBag.Title = "HaveReceivedOrder";
    List<order> order = ViewBag.List;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HaveReceived</title>
</head>
<body>
    
        <div>
            <h3>您已接收的订单：</h3>
            <table>
                <thead>
                    <tr>
                        <td>订单号</td>
                        <td>生成时间</td>
                        <td>订单类型</td>
                        <td>具体要求</td>
                        <td>收件人ID</td>
                        <td>收件人电话</td>
                        <td>打赏小费</td>
                        <td>订单状态</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (order li in order)
                    {
                        <tr>
                            <td>@li.OrderNumber</td>
                            <td>@li.Date</td>
                            <td>@li.Type</td>
                            <td>@li.Text</td>
                            <td>@li.ClientID</td>
                            <td>@li.ClientPhone</td>
                            <td>@li.Tip</td>
                            <td> 未完成 </td>
                            <td><input id="changeState" type="submit" value="完成了？修改状态" /></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
       
    <form action="/ReceiveOrder/CancelOrder" method="post">
        <p>如果您因突发情况无法完成订单想要退单:</p>
        <p>
            请输入您想退单的订单号：<br /> @Html.TextBox("OrderID");<input id="button" type="submit" onclick='location.href=("/ReceiveOrder/CancelOrder")' value="点击退单" />
        </p>
    </form>
</body>
</html>
